.wrapper-all {
    background-color: $white;
    border: solid 1px #ebedf3;
    margin-bottom: 175px;
    margin-top: 83px;
    padding: 35px 30px;
    @media(max-width:768px) {
        margin-top: 30px;
    }

    h4 {
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 600;
        color: #51585c;
    }

    p {
        font-size: 14px;
        color: #51585c;
        margin-bottom: 10px;
    }

    .error-txt {
        text-align: center;
        span {
            font-size: 127px;
            color: #51585c;
            font-weight: 600;
        }

        p {
            font-size: 14px;
            color: #51585c;
        }
    }
}