.featuredContent {
    .featuredContent__title {
        text-align: center;
        b {
            margin-top: 55px;
            margin-bottom: 20px;
            text-align: center;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
            color: #51585c;
            display: inline-block;
            @media(max-width:768px) {
                margin-top: 30px;
            }
        }
    }

    .featuredContent__tab {
        margin-bottom: 20px;
        #featuredContent__tab--links {
            display: flex;
            li {
                a {
                    font-size: 12px;
                    color: #a3a3a3;
                    font-weight: bold;
                    padding: 11px 30px;
                    background-color: transparent;
                    text-transform: uppercase;
                    display: inline-block;
                    @media(max-width:500px) {
                        padding: 11px 10px;
                    }
                    &:hover {
                        background-color: $white;
                        color: #595f6f;
                    }
                }
            }

            .active {
                a {
                    background-color: $white;
                    color: #595f6f;
                }
            }
        }

        .featuredContent__tab--text {
            background-color: $white;
            padding: 27px 20px;
            .tab-item {
                font-size: 15px;
                color: #595f6f;
            }
        }
    }

    .c-globalItem {
        margin-bottom: 70px;
    }
}