// Global styles.

/*
    nested classes allowed only 2 levels.
    camel case class names.
*/

// js- { prefixed classes are javascript hooks }
// c- { prefixed classes are components }
// m- { prefixed classes are module }
// u- { prefixed classes are utility }
// g- { prefixed classes are global components }

body {
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    color: #51585c;
}

.container {
    @media(max-width:768px) {
        padding: 0px 15px !important;
    }
}

ul,ol,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
    padding:0;
}

input, textarea, button {
    border: none;
    &:focus {
        outline: none;
    }
}

#c-header {
    background-color: $white;
    padding: 40px 0px 28px 0px;
    @media(max-width:768px) {
        padding: 27px 0px 24px 0px;
    }
    .container-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .c-header__logoItem {

        }
    
        .c-header__navItem {
            ol {
                display: flex;
                @media(max-width:768px) {
                    display: none;
                }
                li {
                    a {
                        font-size: 14px;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 1.4px;
                        color: #51585c;
                        margin: 0px 15px;
                        display: inline-block;
                        border-bottom: solid 2px transparent;
                        &:hover {
                            border-bottom: solid 2px #57b694;
                        }
                    }
                }

                .active {
                    a {
                        border-bottom: solid 2px #57b694;
                    }
                }
            }
            
            .buttonInMobile {
                display: none;
                @media(max-width:768px) {
                    display: block;
                }
            }
        }
    }
}

#mainSection {
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 20%;
}

#c-footer {
    padding-top: 68px;
    padding-bottom: 71px;
    .container-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:768px) {
            flex-direction: column;
        }

        .c-footer__logoItem {
            @media(max-width:768px) {
                text-align: center;
            }

            p {
                margin-top: 28px;
                color: #999999;
                font-size: 14px;
                font-weight: 600;
                @media(max-width:768px) {
                    margin-top: 5px;
                    color: #b6b6b6;
                }
            }
        }

        .c-footer__navItem {
            @media(max-width:768px) {
                margin-top: 20px;
            }
            ol {
                li {
                    text-align: right;
                    @media(max-width:768px) {
                        text-align: center;
                    }

                    a {
                        color: #51585c;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: bold;
                        margin-bottom: 11px;
                        display: inline-block;
                        @media(max-width:768px) {
                            font-size: 16px;
                            font-weight: normal;
                            margin-bottom: 20px; 
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}

.c-globalItem {
    .c-globalItem__head {
        @media(max-width:768px) {
            display: none;
        }
        ul {
            display: flex;
            align-items: center;
            background-color: #57b694;
            width: 100%;
            height: 40px; 
            padding-left: 5px;

            li {
                font-size: 13px;
                font-weight: 600;
                color: $white;
                text-transform: uppercase;
                text-align: center;
                &:nth-child(1) {
                    width: 13%;
                }
                &:nth-child(2) {
                    width: 35%;
                }
                &:nth-child(3) {
                    width: 15%;
                }
                &:nth-child(4) {
                    width: 15%;
                }
                &:nth-child(5) {
                    width: 22%;
                }
            }
        }
    }

    .c-globalItem__body { 
        .bodyElement {
            display: flex;
            align-items: center;
            border: solid 1px #ebedf3;
            border-top: none;
            padding: 36px 20px 36px 33px;
            background-color: #f9fafe;
            @media(max-width:768px) {
                border-top: solid 1px #ebedf3;
                margin-bottom: 15px;
                background-color: $white;
                flex-wrap: wrap;
                padding: 20px 15px;
            }
            &:nth-child(even) {
                background-color: $white;
            }

            .bodyElement__pic {
                width: 13%;
                @media(max-width:768px) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 12px;
                }
            }   

            .bodyElement__txt {
                width: 35%;
                @media(max-width:768px) {
                    width: 100%;
                    margin-bottom: 18px;
                }

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: #24292c;
                    text-align: center;
                    padding: 0px 45px;
                    @media(max-width:500px) {
                        padding: 0px 5px;
                    }
                }
            }

            .bodyElement__rate {
                width: 15%;
                text-align: center;
                @media(max-width:768px) {
                    width: 48%;
                }

                a {
                    font-size: 12px;
                    color: #24292c;
                    text-decoration: underline;
                    font-weight: 500;
                }
            }

            .bodyElement__score {
                width: 15%;
                text-align: center;
                @media(max-width:768px) {
                    width: 48%;
                }

                span {
                    font-size: 44px;
                    font-weight: 300;
                    color: #24292c;
                } 
            }

            .bodyElement__visit {
                width: 22%;
                display: flex;
                justify-content: flex-end;
                @media(max-width:768px) {
                    width: 100%;
                    justify-content: center;
                    margin-top: 15px;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 170px;
                    text-transform: uppercase;
                    height: 50px;
                    border-radius: 4px;
                    font-size: 15px;
                    color: $white;
                    font-weight: 800;
                    background-color: #deb63f;
                    box-shadow: 0 2px 2px 0 rgba(135, 152, 164, 0.15), 0 4px 4px 0 rgba(135, 152, 164, 0.15), 0 8px 8px 0 rgba(135, 152, 164, 0.15), 0 64px 64px 0 rgba(135, 152, 164, 0.15);
                }
            }
        }
    }
}


.mobileNav {
    display: none;
    background-color: $white;
    .mobileNav__wrapper {
        text-align: center;
        padding: 10px 0px;
        ul {
            li {
                a {
                    color: #595f6f;
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    display: inline-block;
                }
            }
        }
    }
}