.hotelContent {
    .hotelContent__title {
        text-align: center;
        b {
            margin-top: 55px;
            margin-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
            color: #51585c;
            display: inline-block;
            @media(max-width:768px) {
                margin-bottom: 30px;
            }
        }
    }

    .hotelContent__txt {
        p {
            font-size: 14px;
            color: #51585c;
            text-align: center;
            margin-bottom: 20px;
            @media(max-width:768px) {
                display: none;
            }
        }
    }


    .paragraph-container {
        border: solid 1px #ebedf3;
        border-top: none;
        background-color: $white;
        padding: 40px 20px;
        margin-bottom: 70px;
        .hotelContent__paragraph {
            margin-bottom: 30px;
            .hotelContent__paragraph--title {
                b {
                    font-size: 17px;
                    color: #51585c;
                    margin-bottom: 10px;
                    display: inline-block;
                    font-weight: 600;
                }
            }
    
            .hotelContent__paragraph--item {
                p {
                    font-size: 14px;
                    color: #51585c;
                    margin-bottom: 10px;
                }
            }
        }
    }
}