.reviewContent {
    .reviewContent__hotel {
        .bodyElement {
            display: flex;
            border: solid 1px #ebedf3;
            border-top: none;
            padding: 10px 20px 10px 12px;
            background-color: #57b694;
            color: $white;
            margin-top: 98px;
            @media(max-width:768px) {
                margin-top: 30px;
                flex-wrap: wrap;
                padding: 10px 20px;
            }

            .bodyElement__pic {
                width: 13%;
                @media(max-width:992px) {
                    width: 17%;
                }
                @media(max-width:768px) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                }

                .box {
                    width: 150px;
                    height: 91px;
                    background-color: #ddf2ef;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }   

            .bodyElement__txt {
                width: 35%;
                text-align: center;
                @media(max-width:768px) {
                    width: 100%;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: $white;
                    text-align: center;
                    padding: 0px 45px;
                    @media(max-width:992px) {
                        font-size: 10px;
                    }
                    @media(max-width:768px) {
                        font-size: 14px;
                    }
                    @media(max-width:500px) {
                        padding: 0px;
                    }
                }

                span {
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    text-align: center;
                    @media(max-width:768px) {
                        display: none;
                    }
                }
            }

            .bodyElement__rate {
                width: 15%;
                text-align: center;
                @media(max-width:768px) {
                    width: 48%;
                }

                a {
                    font-size: 12px;
                    color: $white;
                    text-decoration: underline;
                    font-weight: 500;
                }

                span {
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: 25px;
                    display: inline-block;
                }
            }

            .bodyElement__score {
                width: 15%;
                text-align: center;
                @media(max-width:768px) {
                    width: 48%;
                }

                p {
                    font-size: 44px;
                    font-weight: 300;
                } 

                span {
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }

            .bodyElement__visit {
                width: 22%;
                display: flex;
                justify-content: flex-end;
                padding-top: 20px;
                @media(max-width:768px) {
                    width: 100%;
                    justify-content: center;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 170px;
                    text-transform: uppercase;
                    height: 50px;
                    border-radius: 4px;
                    font-size: 15px;
                    color: $white;
                    font-weight: 800;
                    background-color: #deb63f;
                    box-shadow: 0 2px 2px 0 rgba(135, 152, 164, 0.15), 0 4px 4px 0 rgba(135, 152, 164, 0.15), 0 8px 8px 0 rgba(135, 152, 164, 0.15), 0 64px 64px 0 rgba(135, 152, 164, 0.15);
                }
            }
        }
    }

    .reviewContent__desc {
        background-color: $white;
        border: solid 1px #ebedf3;
        border-top: none;
        padding: 26px 30px;
        margin-bottom: 140px;
        .paragraph {
            margin-bottom: 40px;
            .paragraph-title {
                p {
                    color: #24292c;
                    font-size: 17px;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }

            .paragraph-item {
                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: #24292c;
                    margin-bottom: 10px;
                }
            }
        }   
    }
}