.reviewsContent {
    .reviewsContent__title {
        text-align: center;
        b {
            margin-top: 55px;
            margin-bottom: 20px;
            text-align: center;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
            color: #51585c;
            display: inline-block;
            @media(max-width:768px) {
                margin-top: 30px;
            }
        }
    }

    .c-globalItem {
        margin-bottom: 140px;
    } 
}